.cart__container {
  padding-top: 100px;
}

.cart__item {
  display: flex;
  margin: 0 auto;
  max-width: 750px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border: 1px solid #ccc;
  padding: 18px;
  margin-bottom: 20px;
}

.cart__img {
  display: block;
  width: 70px;
  height: 70px;
}

.cart__info {
  flex-grow: 1;
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.cart__price {
  font-weight: bold;
  font-size: 20px;
}

.cart__user {
  font-size: 48px;
  margin-bottom: 30px;
}

.cart__total {
  max-width: 750px;
  width: 100%;
  padding: 18px;
  margin: 0 auto;
  text-align: left;
  font-size: 36px;
  background-color: rgb(246, 223, 162);
  border: 1px solid #ccc;
}

.cart__backLink {
  display: none;
}

.cart__backLink:hover {
  color: rgb(234, 179, 8);
  transition: color 0.2s ease;
}

@media screen and (max-width: 600px) {
  .cart__container {
    padding-top: 140px;
  }
  .cart__backLink {
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
    transition: color 0.2s ease;
  }

  .cart__item {
    flex-wrap: wrap;
  }

  .cart__btns {
    width: 100%;
  }

  .cart__btns button:last-child {
    margin-left: auto;
  }
}
