.pizza {
  display: flex;
  gap: 16px;
  padding: 8px 0;
  border: 1px solid #ccc;
}

.pizza__image {
  width: 100px;
  height: 100px;
  padding: 8px;
}

.pizza__info {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-grow: 1;
  padding: 8px;
}

.pizza__name {
  font-weight: 700;
}

.pizza__ingredients {
  font-style: italic;
  margin-bottom: 10px;
}

.pizza__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.pizza__price {
  font-size: 14px;
}

.pizza__amount {
  display: flex;
}

.pizza__input {
  width: 38px;
  font-size: 14px;
  padding: 5px;
  text-align: center;
  border: none;
}

@media screen and (max-width: 768px) {
  .pizza {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .pizza {
    width: 49%;
  }
}

@media screen and (min-width: 1201px) {
  .pizza {
    width: 32%;
  }
}
