.logo {
  text-decoration: none;
  font-size: 20px;
  color: rgb(68, 64, 60);
  margin-right: 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(234, 179, 8);
  padding: 15px 20px;
}

.header__nav {
  flex-grow: 0.8;
  display: block;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__menu a {
  color: inherit;
  font-size: 24px;
  font-weight: 700;
  opacity: 0.7;
  text-decoration: none;
}
.header__menu a:hover {
  color: rgb(0, 0, 0);
}

.header__wrap {
  display: flex;
  align-items: center;
  gap: 25px;
}

.header__icon {
  width: 24px;
  height: 32px;
}

.header__search {
  position: relative;
}

.header__searchInput {
  padding-right: 30px;
}

.header__searchBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0;
}

.header__search:hover .header__searchBtn {
  opacity: 1;
}

.header__iconSearch {
  width: 20px;
  height: 20px;
  color: rgb(234, 179, 8);
}

.header__cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: transparent;
  background-color: rgb(193, 150, 19);
  color: rgb(68, 64, 60);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.header__cart:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.header__badge {
  position: absolute;
  right: -5px;
  top: -5px;
}

.header__user {
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    gap: 20px;
  }

  .header__menu li:first-child {
    display: none;
  }

  .header__search {
    width: 100%;
    order: 3;
  }

  .header__search input {
    width: 100%;
  }
}
