.login__section {
  padding-top: 120px;
}

.login__form {
  max-width: 550px;
  width: 100%;
  margin: 50px auto 0px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.login__btn {
  display: inline-block;
  font-size: 24px;
  padding: 18px;
}

@media screen and (max-width: 600px) {
  .login__section {
    padding-top: 150px;
  }
}
