body {
  position: relative;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 1.2;
  color: rgb(68, 64, 60);
}

.container {
  position: relative;
  max-width: 1920px;
  width: 100%;
  padding: 0 15px;
}

.text-yellow {
  color: rgb(234 179 8);
}

.button {
  font-family: Roboto Mono, monospace;
  border: 0;
  padding: 10px 15px;
  background-color: rgb(234, 179, 8);
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.button--light {
  background-color: rgb(245, 245, 245);
}

.button:hover {
  background-color: rgb(202, 156, 16);
}

input {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid rgb(231 229 228);
}

input:focus {
  outline: 1px solid rgb(234, 179, 8);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  text-align: center;
}

.title {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.sub-title {
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

a.active,
button.active {
  opacity: 1;
}

.qty {
  display: inline-block;
  text-align: center;
  width: 28px;
}

.btns {
  display: flex;
  gap: 5px;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .btns {
    width: 100%;
  }

  .btns button:last-child {
    margin-left: auto;
  }
}
